greeting:
  name: "Bitelchus"

quarkus:
  datasource:
    devservices:
      image-name: "postgres:14.5"
  flyway:
    migrate-at-start: true
  vault:
    secret-config-kv-path: "myapp"
    devservices:
      image-name: "hashicorp/vault:1.18"
      init-commands:
        - "kv put secret/myapp greeting.secret=watermelon"
